<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css">
         <link rel="stylesheet" href="css/fontello.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="page1">
            <div id="welcome">
                    <div class="welcomeHead">CZEŚĆ!</div>
                    <div id='welcomeText'>Zapraszam do przejrzenia mojego portfolio!</div>
                    <div id="theme" onclick="changeTheme()"><i class='icon-moon'></i></div>
                    
                    <div id='arrowBG' onclick="slideSidePage()"><div id="arrow">O mnie</div></div>
            </div>
            <div id="bg1"></div>
            <div id="sidePage">
                    <div class="welcomeHead">O MNIE</div>
                    <div id="textWrapper">
                        <div class="columnText">
                            Jestem obecnie studentem trzeciego roku Informatyki Stosowanej i Systemów Pomiarowych na Uniwersytecie Wrocławskim. Swoją przygodę z programowaniem rozpocząłem jeszcze w trakcie liceum, gdzie z kierunku biologiczno-chemicznego zacząłem kierować swoje zainteresowania w stronę informatyki. Swoją wiedzę czerpałem z relacji kolegów uczęszczających do techników informatycznych i po kilku latach wschłuchiwania się w ich rozmowy i samodzielnych prób programowania postanowiłem samemu wejść w ten głęboki temat podejmując podany wcześniej kierunek studiów. W trakcie nauki osiągałem wysokie wyniki, umożliwiające mi pobieranie stypendium rektora, które stanowiło główną pożywkę dla mojego samorozwoju.
                        </div>
                        <div class="columnText">
                            Od samego początku najbardziej interesowały mnie aspekty GameDevu oraz programowania aplikacji internetowych. Po drodze doszły umiejętności obsługi domowego serwera bazowanego na systemie Linux (co umożliwiło mi m.in. stawianie własnych stron internetowych), zainteresowanie sieciami neuronowymi, które stanowić będą główny temat mojej pracy inżynierskiej oraz zaznajomienie z funkcjonowaniem mikrokontrolerów takich jak ESP32 i projektowania urządzeń, które by je wykorzystywały. W wolnym czasie rozwijam swoją wiedzę w dziedzinach, które pozwałałyby mi na tworzenie przydatnego lub interesującego mnie oprogramowania - gry, usługi rozszerzającego mojego HomeLaba i wiele innych.
                        </div>
                        <div id="zdjecie">
                            <img src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg">
                        </div>
                    </div>
                    <div id='arrowBG' onclick="nextPage()"><div id="arrow">Moje projekty</div></div>
            </div>
        </div>
        <div id="page2">
            <div id="arrowBG" onclick="prevPage()"><div id="arrow"></div>&#8593;</div>
            <div id="projectContainer">
                <div id="projectRoot">
                    {PROJECT DATA}
                </div>
            </div>
            <div id="arrowBG" onclick="nextPage()"><div id="arrow"></div>&#8595;</div>
        </div>
        <div id="page3">
            <div id="arrowBG" onclick="prevPage()"><div id="arrow"></div>&#8593;</div>
            <div id="contact">

                <div id="card1">
                    <div class="padInside">
                        <div id="contactHead">Kontakt</div>
                        <div id="contactMore">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div>
                    </div>

                </div>
                <div id="card2">
                    <div class="padInside"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</html>